:root {
	/* Grey Scale */
	--grey-100: #141414;
	--grey-500: #666666;
	--grey-800: #c2c2c2;
	--grey-1100: #616161;

	/* Primary Colors */
	--primary-400: #f2f0f0;

	/* Green Accents */
	--greenAccent-500: #4cceac;

	/* Red Accents */
	--redAccent-100: #2c100f;
	--redAccent-200: #58201e;
	--redAccent-300: #832f2c;
	--redAccent-400: #af3f3b;
	--redAccent-500: #db4f4a;
	--redAccent-600: #e2726e;

	/* Blue Accents */
	--blueAccent-100: #011F3A;
	--blueAccent-200: #2a2d64;
	--blueAccent-400: #535ac8;
	--blueAccent-500: #6870fa;

	/* Custom Colors */
	--custom-boxShadow: #44444444;
	--custom-white: #ffffff;
	--custom-orange: #EA5C11;
	--custom-rubaiyat: #B62626;
	--custom-greenAlert: #3da58a;
}


html,
body,
#root,
.app,
.content {
	width: 100%;
	background-color: #ececec;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	margin: 0;
}

.app-body {
	width: 97%;
	padding-left: 20px;
}

.app-body-empty {
	font-size: 28px;
	font-weight: 600;

	display: flex;
	justify-content: center;

	margin-top: 70px;
}

/* NAVBAR */
.navbar {
	background-color: #111A46;
	/* Cor de fundo azul escuro */
	color: white;
	display: flex;
	align-items: center;
	height: 60px;
	margin-bottom: 50px;
	padding: 0 20px;
}

.navbar-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-icon {
	margin-top: 5px;
}

.navbar-infos {
	margin-left: 40px;
}

.left-container {
	display: flex;
	align-items: center;
}

/* BANNER */
.banner {
	padding-left: 20px;
	width: 97%;
	margin-bottom: 20px;
}

.banner img {
	width: 100%;
	border-radius: 10px;
}

/* COMPANY CONTAINER */

.company-outcontainer {
	display: grid;
	grid-template-columns: 80% 20%;
	background-color: #F8F8F8;
}

.company-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	border-radius: 10px;
}

.company-button-container {
	align-self: center;
    text-align: center;
}

.help-button {
	width: 80%;
	border: 1px solid #8F8F8F !important;
	border-radius: 5px !important;
}

.help-button > p {
	color: #8F8F8F;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: none;
}


/* PRICE HEADER */
.price-header {
	background-color: white;
	max-width: 100%;
}

/* POP UP */

.popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.popup .outer-box {
	background-color: #fff;
	padding: 20px;
	border: 1px solid #EA5C11;
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	height: 90%;
	width: 75%;
	padding: 30px 120px;
	overflow-y: auto;
  	position: relative;
	scrollbar-width: thin;
	scrollbar-gutter: stable;
}

.popup .header {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup .content {
	background-color: #fff;
}

.popup .title {
	font-size: 24px;
	font-weight: bolder;
}

.popup .text {
	font-size: 16px;
	color: #616161;
	font-weight: 400;
}

.popup .img {
	width: 100%;
}

.popup .grid {
	padding-right: 20px;
}

.outer-box::-webkit-scrollbar {
	width: 5px;
}

.outer-box::-webkit-scrollbar-track {
	background-color: darkgrey;
	border-radius: 15px;
	max-height: 98%;
}

.outer-box::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}